#content > img:nth-child(9) {
    transform: scale(4);
    margin: 20px 900px 20px;
}
#content > h1:nth-child(8)
{

}

html {overflow: -moz-scrollbars-none;}

#fos_user_profile_form
{
    margin-left:200px
}

label.required
{
    color:black;
    margin-left:-150px;
    margin-top: 12px;
}

.fos_user_profile_edit > div:nth-child(2) > input:nth-child(1)
{
    margin-left:400px;
}